name: arom_study_quiz
description: "A new Flutter project."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.7.0

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  http: ^1.3.0
  cloud_firestore: ^5.6.6
  firebase_core: ^3.13.0
  html_unescape: ^2.0.0
  google_sign_in: ^6.3.0
  firebase_auth: ^5.5.2


dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
